[Unit]
Description=Refresh internship listings hourly

[Timer]
OnCalendar=*-*-* *:17:00 UTC
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
